<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-white pt-5" id="sidebar-wrapper">
    <ul class="h-100">
      <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png" alt="home"><span>الرئيسية</span></li>
      <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png" alt="trackprojects"><span>تتبع المشاريع</span></li>
      <li routerLink="/calender" ><img src="../../../../assets/images/Dashboard-icons/calender.png" alt="calender"><span>التقويم</span></li>
      <li routerLink="/favourites" class="active" ><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png" alt="favourites"><span>المفضلة</span></li>
      <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png" alt="reports"><span>التقارير والاحصائيات</span></li>
    </ul>

    <div class="list-group list-group-flush">
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar border-bottom">
      <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
      <img src="../../../../assets/images/Dashboard-icons/menu.png" alt="menu" id="menu-toggle" (click)="toggle()">
      <h2>QDPM<sub>system</sub></h2>
      <div class="d-flex justify-content-center align-items-center icons">
        <img src="../../../../assets/images/Dashboard-icons/msg.png" alt="msgs" routerLink="/messages">
        <img src="../../../../assets/images/Dashboard-icons/profile.png" alt="profile" class="mx-3 profile" routerLink="/profile">
      </div>
    </nav>

    <div class="container-fluid w-100">

      <input type="search" class="form-control p-2 m-3w-75 m-auto my-3">

      <div class="w-100 vh-50 bg-info d-flex justify-content-center align-items-center text center p-5 ms-5 mt-5" >
        <h2 class="ms-5 fw-bold text-white">Favourites Component</h2>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
