.container-fluid {
  .row-map {
    min-height: 100vh;
    .col-12 {
      padding: 20px;
      height: 100%;

      .map {
        box-shadow: 0px 0px 5px 2px #ccc;
        border-radius: 20px;
        overflow: hidden;
        padding: 0;
        height: 100%;
      }
    }
  }

  .row-list {
    .col-12 {
      .list {
      box-shadow: 0px 0px 5px 2px #ccc;
        padding: 20px 10px !important;
        background-color: #fff;
        border-radius: 15px !important;
        width: 100% !important;

        table {
          width: 100%;
          background-color: aqua;
          border-radius: 10px;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;

          thead {
            tr {
              border-style: none;
              color: #fff;
              background-color: #749BC4;

              th {
                padding: 8px;
                min-width: 180px;
              }
            }
          }

          tbody {
            background-color: #fff;

            tr {
              border-style: none;

              td {
                border-bottom-width: 0;
                min-width: 180px;
                padding: 5px;

                .item {
                  padding: 3px 5px !important;
                  background-color: #F3F5FD;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  p {
                    padding: 0 10px;
                    margin: 0;

                  }

                  .progress {
                    width: 120px;
                    height: 5px;
                    outline: 0.5px solid #ccc;
                    border-radius: 5px;
                    padding: 0;
                    background-color: #eee;
                    .progress-bar {
                      border-radius: 5px;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .row-card {
    .card {
      box-shadow: 0px 0px 5px 1px #ccc;
      border: none;
      border-radius: 15px;
      overflow: hidden;
      .card-data {
        padding-top: 40px;
        table {
          margin: 0;
          tr {
            th {
              font-size: 14px;
            }
            td {
              font-size: 14px;
              color: #749BC4;
              font-weight: 500;
            }
          }
        }
      }
      .card-degree {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .fav-icon {
          img {
            width: 25px;
            &:hover {
              cursor: pointer;
            }
          }
        }

        /*************************************/

// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);

  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

// -- selectors

.set-size {
  font-size: 6em;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px 0;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 15) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 15 solid #eee;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-10 {
    @include draw-progress(10, #068DF5);
  }

  &.progress-45 {
    @include draw-progress(45, #4CB871);
  }

  &.progress-50 {
    @include draw-progress(50, #F5E306);
  }

  &.progress-57 {
    @include draw-progress(57, #F24773);
  }

  &.progress-60 {
    @include draw-progress(60, #F5E306);
  }

  &.progress-65 {
    @include draw-progress(65, #F24773);
  }


  &.progress-70 {
    @include draw-progress(70, #4CB871);
  }

  &.progress-75 {
    @include draw-progress(75, #068DF5);
  }

  &.progress-90 {
    @include draw-progress(90, #e67e22);
  }

  &.progress-95 {
    @include draw-progress(95, #e74c3c);
  }

  &.progress-98 {
    @include draw-progress(95, #068DF5);
  }
}

        /******************************************/


      }
    }
  }

}


/* start media queres  */

/* start small screen */
@media screen and (max-width:992px) {}

/* end small screen */
/* start medium screen */
@media screen and (min-width:577px) and (max-width:768px) {}

/* end medium screen */
/* start large screen */
@media screen and (min-width:769px) and (max-width:992px) {}

/* end large screen */
/* start extra large screen */
@media screen and (min-width:993px) and (max-width:1200px) {}

/* end axtra large screen */
/* start extra extra large screen */
@media screen and (min-width:1201px) and (max-width:1400px) {}

@media screen and (min-width:1400px) {}

/* end extra extra large screen */

/* end media queres*/

@media (max-width: 600px) {}
