.container-fluid {
  .row {
    .col-12 {
      .list {
        box-shadow: 0px 0px 5px 0.5px #ccc;
        background-color: #fff;
        border-radius: 15px !important;
        width: 100% !important;

        .row {
          .employees {
            box-shadow: 0px 0px 10px 0.5px #ccc;
            border-radius: 15px;
            background-color: #fff;

            .employees-head {
              padding: 10px;
              border-bottom: 3px solid #eee;

              .logo {
                h3 {
                  color: #3D3D3D;
                  font-weight: bold;
                  font-size: 25px;
                }

                img {
                  margin: 0 10px;
                  width: 40px;
                }
              }

              .radio {
                input {
                  &:hover {
                    cursor: pointer;
                  }
                }

                .form-check-input {
                  height: 2em;
                }

                .form-switch .form-check-input {
                  width: 4em;
                }
              }

              span {
                color: #3D3D3D;
                font-weight: bold !important;
              }

              .datepicker-toggle {
                position: relative;
                width: 30px;
                height: 30px;
                margin: 0 10px;
              }

              .datepicker-toggle-button {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }

              .datepicker-input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                box-sizing: border-box;
              }

              .datepicker-input::-webkit-calendar-picker-indicator {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                cursor: pointer;
              }

              // for check completing of projects archieve
              .check-completing {
                border-radius: 30px;
                margin: 0 !important;
                padding: 0 !important;
                overflow: hidden;

                .form-check {
                  position: relative;
                  padding-left: 20px !important;
                  min-height: 100% !important;
                  display: flex;
                  align-items: center;

                  div {
                    position: absolute;

                    span {
                      font-size: 12px;
                      font-weight: 400;
                      margin-right: 5px;
                    }
                  }
                }

                .form-check-input {
                  position: relative;
                  z-index: 2;
                  width: 9em !important;
                  height: 2em;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  margin-left: -1.5em;
                  background-image: url("../../../../assets/images/Dashboard-icons/completing.jpg");
                  opacity: 0.5 !important;
                  margin-top: 0 !important;
                  margin-bottom: 0 !important;
                  padding: 0 !important;
                }

                .form-check-input:focus {
                  box-shadow: none;
                }

                .form-check-input:focus {
                  background-image: url("../../../../assets/images/Dashboard-icons/completing.jpg");
                }
              }
            }

            .employees-number {
              padding: 30px 0;

              img {
                margin: 0 10px;
                width: 60px;
              }

              h2 {
                color: #749BC4;
                font-weight: bold;
                font-size: 50px;
              }

              .row {
                #my-pie-chart-container {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                }

                #my-pie-chart {
                  background: conic-gradient(#F24773 16%, #F5E306 16% 40%, #4CB871 40% 58%, #068DF5 58% 98%, #CCCCCC 98% 100%);
                  border-radius: 50%;
                  width: 120px;
                  height: 120px;
                }

                #legenda {
                  margin-left: 20px;
                  background-color: white;
                  padding: 5px;
                }

                .entry {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  >span {
                    font-weight: bold;
                    font-size: 14px;
                  }
                }

                .entry-color {
                  height: 10px;
                  width: 10px;
                  border-radius: 3px;
                }

                .entry-text {
                  margin-left: 5px;

                  span {
                    color: #3D3D3D;
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0 15px;
                  }
                }

                #color-red {
                  background-color: #F24773;
                }

                #color-yellow {
                  background-color: #F5E306;
                }

                #color-green {
                  background-color: #4CB871;
                }

                #color-primary {
                  background-color: #068DF5;
                }

                #color-secondary {
                  background-color: #CCCCCC;

                }
              }
            }
          }
        }

        // for follow projects
        .row {
          .projects-follow-card {
            background-color: #F3F5FD;
            padding: 5px;
            border-radius: 15px;
            text-align: center;

            h4 {
              margin: 5px 0;
              color: #3D3D3D;
              font-size: 18px;
              font-weight: bold;
            }

            .number {
              width: 100%;
              background-color: #fff;
              border-radius: 10px;

              h3 {
                font-weight: bold;
                font-size: 40px;
              }
            }
          }
        }

        // for reports
        .reports {
          .col-md-6:nth-of-type(2) {
            .employees {
              .employees-number {
                padding: 20px;

                h2 {
                  font-size: 30px;
                }

                h3 {
                  margin-top: 10px;
                  color: #749BC4;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
