.container-fluid {
  .row {
    padding: 10px !important;
    .profile-card {
      margin: 20px auto;
      max-width: 500px;
      border-radius: 15px;
      overflow: hidden;
      padding: 10px;
      background-color: #fff;

      .profile-img {
        margin: 10px auto;
        width: 100px;
        height: 100px;
        //overflow: hidden;
        border-radius: 50%;
        background-color: #749BC4;
        padding: 3px;
        .layer {
          position: relative;
          width: 100%;
          height: 100%;
          border: 3px solid #fff;
          border-radius: 50%;

          img {
            border-radius: 50%;
            width: 100%;
          }

          .camera {
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: 30px;
            z-index: 2;

            &:hover {
              cursor: pointer;
            }
          }
        }

      }

      .profile-data {
        .details {
          margin: 10px auto;
          background-color: #F9F9F9;
          border-radius: 10px;
          overflow: hidden;
          display: flex;

          .right {
            padding: 4px 15px 4px 0;
            width: 140px;

            p {
              color: #3D3D3D;
              margin: 0;
              font-weight: 500;
            }
          }

          .left {
            padding: 4px 5px 4px 0;
            flex-grow: 1;

            p {
              color: #749BC4;
              margin: 0;
              font-weight: 500;
            }

            img {
              width: 20px;
              margin: 0 10px;

              &:hover {
                cursor: pointer;
              }
            }

            .modal {
              .modal-dialog {
                .modal-content {
                  border-radius: 20px !important;
                  border: none;
                  outline: none;

                  .header {
                    text-align: center;
                    padding: 20px 0;
                    h3 {
                      color: #3D3D3D;
                      font-size: 22px;
                      font-weight: bold;
                    }

                    p {
                      font-size: 18px;
                      color: #707070;
                      font-weight: 600;
                      margin-top: 10px;
                    }
                  }
                  .body {
                    .form {
                      form {
                        text-align: center !important;
                        padding: 0 10px;
                        .form-group {
                          padding: 10px 10px;
                          margin: 20px auto;
                          max-width: 600px;
                          border-radius: 15px;
                          background-color: #F9F9F9;
                          overflow: hidden;
                          display: flex;

                          input{
                            width: 100%;
                            padding: 0 10px;
                            border: none !important;
                            outline: none !important;
                            background-color: #F9F9F9;
                          }
                          input::placeholder{
                            color: #3D3D3D;
                            font-size: 16px;
                            font-weight: 600;
                          }
                          span {
                            width: 20px;
                            height: 20px;
                            padding-top: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #888;
                            padding-top: 10px;
                            i {
                              font-size: 16px;
                            }
                          }

                          #view-pass:hover {
                            cursor: pointer;
                          }

                          p:hover {
                            cursor: pointer;
                          }
                        }


                        button {
                          background-color: #749BC4;
                          padding: 10px 70px;
                          color: #fff;
                          font-weight: bold;
                          border: none;
                          border-radius: 10px;
                          transition: all 0.3s;
                        }

                        button:hover {
                          cursor: pointer;
                          box-shadow: 2px 2px 6px #00000029;
                        }


                      }

                    }
                  }
                }
              }
            }


          }
        }
      }

    }
  }
}

.dropdown-toggle {
  img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 3px #a6bcd4;
  }
}
