<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white pt-5 h-100">
        <ul class="h-100">
          <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
              alt="home"><span>الرئيسية</span></li>
          <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
              alt="projects"><span>تتبع المشاريع</span></li>
          <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
              alt="calender"><span>التقويم</span></li>
          <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
              alt="favourites"><span>المفضلة</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>التقارير والاحصائيات</span></li>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>الرئيسية</span></li>
              <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
                  alt="projects"><span>تتبع المشاريع</span></li>
              <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
                  alt="calender"><span>التقويم</span></li>
              <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
                  alt="favourites"><span>المفضلة</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>التقارير والاحصائيات</span></li>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <nav class="navbar">
        <img src="../../../../assets/images/Dashboard-icons/menu.png" alt="menu" id="menu-toggle-desktop"
          (click)="toggle()">
        <img src="../../../../assets/images/Dashboard-icons/menu.png" alt="menu" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample" id="menu-toggle-mob" aria-controls="offcanvasExample">
        <h2>QDPM<sub>system</sub></h2>
        <div class="d-flex justify-content-center align-items-center icons">
          <img src="../../../../assets/images/Dashboard-icons/msg01.png" alt="msgs" routerLink="/messages">
          <div class="dropdown">
            <button class="dropdown-toggle me-2 p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../../assets/images/Dashboard-icons/profile.png" alt="user" class="profile m-0">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <div class="row">
                  <div class="col-4 p-0">
                    <div class="profile-img">
                      <div class="layer">
                        <img src="../../../../assets/images/Dashboard-icons/profile.jpg" alt="profile-img">
                      </div>
                      </div>
                  </div>
                  <div class="col-8">
                    <p>أحمد اسماعيل</p>
                  </div>
                </div>
              </li>
              <li class="mt-2">
                <button routerLink="/profile" class="hover bg-secondary"><span>الإعدادات الشخصية</span></button>
              </li>
              <li class="mb-2">
                <button (click)="logOut()" routerLink="/login" class="hover bg-danger"><span>تسجيل خروج</span></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid w-100 pt-3">
        <div class="row">
          <div class="profile-card">
             <div class="profile-img">
              <div class="layer">
                <img src="../../../../assets/images/Dashboard-icons/profile.jpg" alt="profile-img">
                <img src="../../../../assets/images/Dashboard-icons/camera.png" alt="camera" class="camera">
              </div>
             </div>
             <div class="profile-data mt-3 p-3">
              <div class="details">
                <div class="right">
                   <p>اسم الموظف</p>
                </div>
                <div class="left">
                   <p>أحمد اسماعيل</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>المسمى الوظيفي</p>
                </div>
                <div class="left">
                   <p>مشرف عام</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>القسم / الإدارة</p>
                </div>
                <div class="left">
                   <p>الجودة</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>رقم الجوال</p>
                </div>
                <div class="left">
                   <p>+966550009908</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>العنوان</p>
                </div>
                <div class="left">
                   <p>عنيزة - القصيم</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>البريد الإلكتروني</p>
                </div>
                <div class="left">
                   <p>info@qdpm.com</p>
                </div>
              </div>
              <div class="details">
                <div class="right">
                   <p>كلمة المرور</p>
                </div>
                <div class="left d-flex justify-content-between align-items-center">
                   <p>***********</p>
                   <img src="../../../../assets/images/Dashboard-icons/edit.png" alt="edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                      <div class="modal-content p-3">
                          <div class="header">
                            <h3>اعادة تعيين كلمة المرور</h3>
                            <p>برجاء ادخال كلمة المرور الحالية وكلمة المرور الجديدة مكونه من 8 احرف / ارقام على الاقل</p>
                          </div>
                          <div class="body">
                            <div class="form">
                              <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm(passwordForm)">
                                <div class="form-group mb-2">
                                  <input [type]="changeTypePass?'password':'text'" placeholder="كلمة المرور الحاليه"
                                    formControlName="password" autocomplete="">
                                  <!-- to show or hide password -->
                                  <span (click)="viewPassword()" id="view-pass"><i
                                      [ngClass]="visiblePass?'fa fa-eye-slash':'fa fa-eye'"></i></span>
                                </div>
                                <div class="w-100 text-start">
                                  <p routerLink="/forget-pass" data-bs-dismiss="modal" aria-label="Close" class="main-color hover">نسيت كلمة المرور؟</p>
                                </div>
                                <div class="form-group mb-2">
                                  <input [type]="changeTypeNewPass?'password':'text'" placeholder="  كلمة المرور الجديدة"
                                    formControlName="newPassword" autocomplete="">
                                  <!-- to show or hide password -->
                                  <span (click)="viewNewPassword()" id="view-pass"><i
                                      [ngClass]="visibleNewPass?'fa fa-eye-slash':'fa fa-eye'"></i></span>
                                </div>
                                <div class="form-group mb-2">
                                  <input [type]="changeTypeRePass?'password':'text'" placeholder="  تحقق كلمة المرور الجديدة"
                                    formControlName="rePassword" autocomplete="">
                                  <!-- to show or hide password -->
                                  <span (click)="viewRePassword()" id="view-pass"><i
                                      [ngClass]="visibleRePass?'fa fa-eye-slash':'fa fa-eye'"></i></span>
                                </div>
                                  <button [disabled]="passwordForm.invalid" class="btn my-3 m-auto" type="submit" data-bs-dismiss="modal" aria-label="Close">تأكيد</button>
                                  <p class="hover text-danger h6 fw-bold" data-bs-dismiss="modal" aria-label="Close">الغاء</p>
                              </form>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
