<div class="content">
  <div class="navbar d-flex justify-content-center align-items-center">
    <h2>QDPM<sub>system</sub></h2>
  </div>
  <div class="login-page py-5">
    <div class="login-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="login-form">
              <div class="form-data">
                <h1>QDPM</h1>
                <p>qemam digital project management</p>
                <h3>الرجاء إدخال كود التحقق</h3>
                <h6>تم ارسال رسالة قصيرة برمز التحقيق المكون من 4 أرقام </h6>
                <div class="form">
                  <form >



                    <button  class="btn my-2" type="submit">تأكيد</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="intro-img">
              <img src="../../../../assets/images/login.png" class="img-fluid" alt="QDPM System">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
