/* begin: login-styles */
.content {
  height: 100vh;
  .navbar {
    background-color: #fff;
    box-shadow: 0px 1px 4px #15223214;
    padding: 2px 0 0 0;
    h2 {
      color: #749BC4;
      font-size: 34px;
      font-weight: bold;
      letter-spacing: 0px;
      sub {
        color: #3D3D3D;
        font-size: 20px;
      }
    }
  }

  .login-page {
    padding: 20px;
    width: 100%;
    height: 90%;
    .login-slide {
      height: 100%;
      width: 100%;
      .container {
        height: 100%;
        width: 800px;
        .row {
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0px 0px 6px #00000029;
          .col-md-6 {
          height: 100%;
          padding: 0;
            .login-form {
              width: 100%;
              height: 100%;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              background-color: #fff;
              .form-data {
                text-align: center;
                img {
                  width: 70%;
                  margin-bottom: 20px;
                }
                h3 {
                  font-size: 18px;
                  letter-spacing: -0.18px;
                  font-weight: bold;
                  color: #3D3D3D;
                  margin: 30px auto;
                  margin-bottom: 5px;
                }
                h6 {
                  color: #6d6d6d;
                  font-size: 14px;
                  font-weight: 500;
                  letter-spacing: 0.25px;
                }
                .form {
                  form {
                    .group {
                      margin: 20px auto;
                      width: 250px;
                      overflow: hidden;
                      display: flex;
                      .row {
                        box-shadow: none;
                      }

                      input {
                        width: 100%;
                        height: 100%;
                        padding: 2px 5px;
                        border-radius: 15px;
                        text-align: center;
                        font-size: 18px;
                        color: #555;
                        border: none !important;
                        outline: none !important;
                        background-color: #eee;
                      }

                      input::placeholder {
                        text-align: center;
                        font-weight: 900;
                      }

                      input:focus {
                        outline: 3px solid #d9e1e8 !important;
                      }
                    }

                    button {
                      background-color: #749BC4;
                      padding: 5px 70px;
                      color: #fff;
                      font-weight: bold;
                      border: none;
                      border-radius: 10px;
                      transition: all 0.3s;
                    }

                    button:hover {
                      cursor: pointer;
                      box-shadow: 2px 2px 6px #00000029;
                    }
                    .varify-msg {
                      font-size: 12px;
                      color: #6d6d6d;

                      a {
                        color: #749BC4;
                        text-decoration: underline;
                        &:hover {
                          cursor: pointer;
                        }
                      }
                    }
                    .exit {
                      font-size: 14px;
                      color: #555;
                      &:hover {
                        cursor: pointer;
                      }
                    }
                  }

                }
              }
            }
            .intro-img {
              box-shadow: 0px 3px 6px #00000029;
              height: 100%;
              padding: 0;
              img {
                width: 100%;
                height: 100%;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance:none
}

input[type=number] {
  -moz-appearance: textfield;
  appearance:textfield
}
/* end: login-styles */





/* start media queres  */

/* start small screen */
@media screen and (max-width:576px) {
  .login-page {
    padding: 20px 10px !important;
    width: 100%;
    height: 90%;
    .login-slide {
      height: 100%;
      width: 100%;
      .container {
        height: 100%;
        width: 100% !important;
      }
    }
  }
}

/* end small screen */
/* start medium screen */
@media screen and (min-width:577px) and (max-width:768px) {
  .login-page {
    padding: 20px !important;
  }
}

@media screen and (min-width:768px) {

}

/* end medium screen */
/* start large screen */
@media screen and (min-width:769px) and (max-width:992px) {
  .login-page {
    padding: 20px !important;
  }
}

/* end large screen */
/* start extra large screen */
@media screen and (min-width:993px) and (max-width:1200px) {}

/* end axtra large screen */
/* start extra extra large screen */
@media screen and (min-width:1201px) and (max-width:1400px) {}

/* end extra extra large screen */

/* end media queres*/
